<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/vue_springboot_blog</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

      <mapping class="com.springboot.blog.entity.db.Account"/>
    <mapping class="com.springboot.blog.entity.db.Label"/>
    <mapping class="com.springboot.blog.entity.db.Communication"/>
      <mapping class="com.springboot.blog.entity.db.Comment"/>
    <mapping class="com.springboot.blog.entity.db.Reply"/>
      <mapping class="com.springboot.blog.entity.db.Classify"/>
      <mapping class="com.springboot.blog.entity.db.Description"/>
      <mapping class="com.springboot.blog.entity.db.Resource"/>
      <mapping class="com.springboot.blog.entity.db.Article"/>
      <mapping class="com.springboot.blog.entity.db.LeftMessage"/>
      <!--    <mapping class="com.springboot.blog.entity.db.Comment"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>